:root {
    --slot-text-size: 1.4vw;
}

.slot {
    background-color: lightslategray;
    height: 30%;
    margin: 0.25rem 1.5rem;
    border: black solid 3px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2vw;

}

.slot_image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 22.5%;
    border-radius: 20px 0 0 20px;
    border-right: black solid 3px ;


}

.slot_image{
    height: 85%;
    width: 85%;
    border: black solid 3px ;
    border-radius: 20px;
    text-align: center;

}

.slot_details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 27.5%;
    border-right: black solid 3px ;
    font-size: var(--slot-text-size);
    text-align: center;

}

.slot_status{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    border-radius: 0 20px 20px 0;
    font-size: 1vw;

}

.slot_status_text{
    font-size: 1.9vw;
    margin-bottom: 2rem;

}

.slot_status_ings{
    background-color: lightslategray;
    height: 30%;
    width: 80%;
    margin: 1rem 5rem;
    border: black solid 3px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title {
    text-decoration: underline;
    font-weight: bold;

}

@media screen and (max-width:880px) {
    .Production_status {
        width: 85%;
    }


    .slot_status_ings{
        height: 2vh;
        width: 80%;
        margin: 0 5rem;
        justify-content: space-between;
    }
}