.container {
    display: flex;
    flex-direction: row;
    background-color: #c4b8b7;
    margin: 1rem;
    height: 75vh;
    align-items: center;
    padding: 6rem 2rem;
    border-radius: 10px;

}


.container__right{
    border-radius: 10px;
    height: 80vh;
    margin: 1rem;
}



.container__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 1rem;
    justify-content: space-between;
    height: 83vh;
    width: 40%;


}

.buttons_container{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:880px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
    }

    .container__left {
        height: 83vh;
        width: 90%;
    }

    .buttons_container{
        flex-direction: row;
    }
}



