.delivery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightslategray;
    width: 28%;
    margin: 2.5rem 0;
    border: black solid 3px;
    border-radius: 20px;
    padding-bottom: 2rem;
}

.delivery_text{
    background-color: aliceblue;
    height: 16%;
    border-bottom: black solid 3px;
    border-radius: 20px 20px 0 0 ;
    text-align: center;
    font-size: 1.5vw;
    padding-top: 1rem;


}

.delivery_update {
    font-size: 1.3vw;
    margin: 1.5rem 0 0 0.5rem;


}

.delivery_time {
    font-size: 2vw;
    width: 100%;
    text-align: center;
    margin: 1.25rem 0;
}

.delivery_screen {
    margin: 0 1rem;
    height: 12%;
    border: black solid 2px ;
    border-radius: 20px;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.5vw;
    background-color: green;

}

.empty {
    background-color: #ff5e00;
}

@media screen and (max-width:880px) {
    .delivery {
        justify-content: space-around;
    }

    .delivery_screen {
        height: 8%;
        padding: 0.5rem 0;
        margin-bottom: 1rem;
    }
}