.customers_status {
    height: 50%;
    width: 95%;
    border: black solid 3px;
    border-radius: 10px;
    margin: 1rem 2rem;

}

.customers_text{
    background-color: lightslategray;
    color: aliceblue;
    height: 12%;
    padding-top: 1.2rem;
    text-align: center;
    font-size: 2vw;
    border-bottom: black solid 3px;
    border-radius: 10px 10px 0 0;

}

.queues_container {
    height: 85%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

