.queue {
    clip-path: polygon(0 17%, 87% 17%, 87% 0, 100% 50%, 87% 98%, 87% 83%, 0 83%);
    background-color: lightslategray;
    height: 30%;
    margin: 1rem 4rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2vw;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    background: aliceblue;
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid #111;
    border-radius: 2.5rem;
    box-shadow: 0 0 0 0.5rem aliceblue;
}

.green {
    background-color: #6fd108;
    box-shadow: 0 0 0 0.5rem black;
}

.not_in_use {
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:880px) {
    .circle {
        width: 1rem;
        height: 1rem;
        border: 0.5px solid #111;
        border-radius: 2.5rem;
        box-shadow: 0 0 0 0.25rem aliceblue;
    }
}
